<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="title" content="Hospital Metropolitano 506" />
    <meta name="description"
        content="El Hospital Metropolitano 506 esta equipado con la última tecnología en medica. Además ofrecemos varios servicios que pueden ser de su utilidad. Nuestro equipo de trabajo esta altamente calificado para cualquier tipo de incidente médico que ocurra. Estamos para servirle a usted y su familia." />
    <meta name="keywords"
        content="Hospital, Metropolitano, 506, Hospital Metropolitano, hospital, metropolitano, hospital metropolitano 506, Hospital Metropolitano 506" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Spanish" />
    <meta name="author" content="José Andrey Elizondo Marín" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Metropolitano 506</title>

    <link rel="shortcut icon" href="../assets/img/Hospital Metropolitano 2.svg" />
    <link rel="stylesheet" href="../css/estilo.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
    
    <script src="https://kit.fontawesome.com/c58dcf34a3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    
</head>
<body>
    <section class="container">
        <h1>Página de Admnistrador</h1>
        <img class="img_container" src="../assets/img/administrador.jpg" alt="Imagen de administrador">
        <button class="btn_container">Volver al login</button>
    </section>
    <script type="text/javascript" src="../js/funciones.js"></script>
</body>
</html>